body{
	font-family: chalkboard;
	font-size: 50px;
	background-image: url("image/morning.jpg");
	background-size: cover;
}

.container{
	padding-top: 305px;
	padding-bottom: 305px;
	/*background-color: pink;*/
	
}

#clock{
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

#datum{
	font-size: 35px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
  
 }

/*achtergronden
.morning{
 	background-image: url('image/morning.jpg');
	background-size: cover;
}
.afternoon{
 	background-image: url('image/afternoon.jpg');
	background-size: cover;
}
.night{
 	background-image: url('image/night.jpg');
	background-size: cover;
}








