body{
	font-family: "MyriadPro";
	font-size: 50px;
	background-image: url("image/morning.jpg");
	background-size: cover;
}

.container{
	padding-top: 300px;
	padding-bottom: 300px;
	/*background-color: pink;*/
	
}

#clock{
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

#datum{
	font-size: 35px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
  
 }

/*Grid*/
body{
  display: grid;
  grid-template-columns: 1fr;

  grid-template-areas: 
        "title title"
        "menu  menu"
        "main  main"
        "sec sec"
        "foot  foot "; 
}

/*animatie*/
#animate {
	width: 90px;
	height: 80px;
	position: absolute;
	padding-top: 160px;
	left: 30px;
	animation: 1000ms pulsate infinite alternate ease-in-out;
}

@keyframes pulsate {
  0% { 
  	top: 95px; 
  }
  100% { 
  	top: 75px;
  }
}

/*Ipad Schermgroote (768 x 1024)*/
@media screen and (min-width: 768px) {
body{
	font-size: 80px;
}
.container{
	padding-top: 450px;
	
}
#datum{
	font-size: 40px;
}
#animate {
	width: 120px;
	height: 110px;
	position: absolute;
	padding-top: 300px;
	left: 80px;
	animation: 1000ms pulsate infinite alternate ease-in-out;
}
}


/*Desktop Schermgroote (12inch scherm)*/
@media screen and (min-width: 1000px) {
body{
	font-size: 80px;
}
.container{
	padding-top: 90px;
	
}

#datum{
	font-size: 40px;
}
#animate {
	width: 100px;
	height: 90px;
	position: absolute;
	padding-top: 110px;
	left: 300px;
	animation: 1000ms pulsate infinite alternate ease-in-out;
}
}






