body{
	font-family: chalkboard;
	font-size: 50px;
}

.container{
	padding-top: 305px;
	padding-bottom: 305px;
	background-color: pink;
}
#clock{
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	
	/*background-image: url('image/morning.jpg');*/
}

#datum{
	font-size: 35px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
  
 }

 